@color:#f09f0b;;
.cur {
    cursor: pointer;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.main-box{
    max-width:1200px;
    min-width:980px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
.color{
    color:@color;
}
.color-b{
   background-color:@color;
   color:#fff;
}
.width100{
    width:100%
}
.overflow{
    overflow:hidden
}