@color: #f09f0b;
@border: 1px solid #eaeaea;
@color-g: #29b43d;
@color-b: #409eff;
.menu-border {
    border: @border;
}

.border {
    border: @border;
}

.tran {
    transition: all .2s;
}

a {
    transition: all .2s;
}

.radius {
    border-radius: 50%;
}

.cur {
    cursor: pointer;
}

.hei-color {
    color: #333;
}

.red-color {
    color: #ff2222;
}

.hui-color {
    color: #999;
}

.while-b {
    background: #fff;
}

.while-f {
    color: #fff;
}

.color-bulr {
    color: @color-b;
}

.i-b {
    display: inline-block;
}

.line {
    line-height: 24px
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.img-center {
    display: inline-block;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

.main-box {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left40 {
    margin-left: 40px;
}

.margin-top30 {
    margin-top: 30px;
}

.color {
    color: @color;
}

.color-b {
    background-color: @color;
    color: #fff;
}

.color-g {
    color: @color-g;
}

.width100 {
    width: 100%
}

.overflow {
    overflow: hidden
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top60 {
    margin-top: 60px;
}

.index-icon {
    background-position: center;
    background-repeat: no-repeat;
    line-height: 1;
    .img-center;
}

.font-1 {
    font-size: 12px;
}

.font-2 {
    font-size: 14px;
}

.font-3 {
    font-size: 16px;
}

.font-4 {
    font-size: 18px;
}
.font-5 {
    font-size: 20px;
}

.text-over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-over-all(@size: 4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: @size;
    -webkit-box-orient: vertical;
}

.shop__text {
    .text-over-all(@size: 2);
}

.red-color-porce {
    color: #ff1f00;
    font-size: 18px;
}

.index-banner {
    .el-carousel {
        overflow: hidden;
    }
    .el-carousel__indicator {
        .el-carousel__button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
}

.top25 {
    margin-top: 25px;
}


/*  */

.main-box {
    .el-breadcrumb__item:last-child .el-breadcrumb__inner,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner a,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
    .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
        color: #333;
        font-weight: 400;
    }
    .el-breadcrumb__inner,
    .el-breadcrumb__inner a {
        color: #333;
        font-weight: 400;
    }
    .el-breadcrumb__inner a:hover,
    .el-breadcrumb__inner:hover {
        color: @color;
    }
    .m-breadcrumb {
        margin-top: 18px;
        line-height: 38px;
    }
}

.m-btn {
    @height: 28px;
    height: @height;
    display: inline-block;
    border: @border;
    border-radius: @height / 1.8;
    padding: 0 25px;
    line-height: @height;
    text-align: center;
    background: #fff;
}

.my-order-table {
    tr {
        td {
            border-left: @border;
            line-height: 1;
            height: 183px;
        }
        td:first-child {
            border-left: none;
        }
    }
}

.m_btn {
    @height: 32px;
    height: @height;
    display: inline-block;
    border-radius: @height / 1.8;
    padding: 0 15px;
    line-height: @height;
    text-align: center;
    background: #fff;
    border: 1px solid #eaeaea;
    min-width: 70px;
    display: inline-block;
}

.m_btn.btn_type_1 {
    background-color: @color;
    color: #fff;
}

.m_btn.btn_type_2 {
    background-color: @color-g;
    color: #fff;
}

.i_b {
    display: inline-block;
}

#app {
    .i_border {
        .el-input__inner {
            border-radius: 0px;
        }
        .el-input__inner:focus {
            border-color: @color;
        }
        .el-select .el-input.is-focus .el-input__inner {
            border-color: @color;
        }
        .el-input--mini .el-input__inner {
            height: 30px;
        }
    }
}

body {
    .el-select-dropdown {
        border-radius: 0px;
    }
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}

.o_page {
    padding: 20px 0;
    .width_page {
        height: 36px;
        line-height: 36px;
        min-width: 36px;
    }
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
        .width_page;
        border: 1px solid #eaeaea;
    }
    .el-pagination button,
    .el-pagination span:not([class*=suffix]) {
        .width_page;
    }
    .el-pagination__editor.el-input .el-input__inner {
        .width_page;
    }
    .el-pagination.is-background .el-pager li.active {
        background: #fff;
        color: red;
        border-color: transparent;
    }
    .el-pagination.is-background .el-pager li:hover {
        color: red;
    }
}

#app {
    .el-input__inner {
        border-radius: 0;
    }
    .el-input.is-active .el-input__inner,
    .el-input__inner:focus {
        border-color: @color;
    }
    .line-65 {
        line-height: 65px;
    }
    .line-40 {
        line-height: 40px;
    }
    .width-185 {
        width: 185px;
    }
    .width-208 {
        width: 208px;
    }
    .width-395 {
        width: 395px;
    }
    .width-107 {
        width: 107px;
    }
    .width-130 {
        width: 130px;
    }
    .width-120 {
        width: 120px;
    }
    .width-138 {
        width: 138px;
    }
    .width-250 {
        width: 250px;
    }
    .height-183 {
        height: 183px;
    }
    .width-85 {
        width: 85px;
    }
    .width-495 {
        width: 495px;
    }
    .width-155 {
        width: 155px;
    }
    .m_mobile {
        .el-step__head.is-finish {
            color: @color;
            border-color: @color;
            .el-step__icon {
                background: @color;
                color: #fff;
            }
        }
        .el-step__head.is-process {
            border-color: #dfdfdf;
            .el-step__icon {
                width: 34px;
                height: 34px;
                background: #dfdfdf;
                color: #666;
            }
        }
        .el-step__icon {
            width: 34px;
            height: 34px;
        }
        .el-step.is-horizontal .el-step__line {
            top: 16px;
        }
        .el-step__title.is-finish {
            color: #333;
            font-size: 14px;
        }
        .el-step__title.is-process {
            font-weight: 400;
            font-size: 14px;
        }
        .el-step__head.is-wait {
            color: #333;
            font-size: 14px;
        }
        .el-step__title.is-wait {
            color: #333;
        }
        .el-input-group__append,
        .el-input-group__prepend {
            background-color: #42b653;
            color: #fff;
            border: 1px solid #42b653;
            span {
                color: #fff;
            }
        }
    }
}

.m_i_form {
    .el-radio__input.is-checked+.el-radio__label {
        color: #333;
    }
    .el-radio__input.is-checked .el-radio__inner {
        border-color: @color;
        background: @color;
    }
}

.cart {
    .el-input-number {
        width: 150px;
    }
     
    .el-checkbox__input.is-checked .el-checkbox__inner,
    .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background-color: @color-g;
        border-color: @color-g;
    }
    .el-checkbox__inner {
        width: 20px;
        height: 20px;
        transform: scale(1)
    } 
    .el-checkbox__inner::after{ 
        height: 14px;
        left: 6px;
        top: 1px;
        width: 4px;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner{
        border-color: @color-g;
    }
}